.theme-atom-fallout-ui {
    .tree-view-resizer {
        border-right: 1px solid transparent;
				margin-right:-1px;
    }

    .tree-view {
        color: @text-color;
        background-color: @tree-view-background-color;

				.list-item:before {
					margin-left:1px !important;
					margin-right:0px !important;
				}

        .list-item span {
					color: @ui-site-color-5;
        }

        .list-item span.icon-file-directory:before {
					color: @ui-site-color-6;
        }

        .list-item.selected:before {
            background: @custom-green;
        }

        .list-item.selected span {
            color: black; font-weight:bold;
        }
    }
}
